<!--
* FileName:tabs.html
* CreatedBy: Vamsee
* Date :12-08-2016
* Purpose : Creating IPL app using ionic framework
-->
<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tab.home" ui-sref-opts="{reload: true}">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="TeamInfo"icon-on="ion-ios-information" icon-off="ion-ios-information" ui-sref="tab.teaminfo" ui-sref-opts="{reload: true}">
    <ion-nav-view name="tab-teaminfo"></ion-nav-view>
  </ion-tab>
</ion-tabs>
