<ion-view view-title="IPL">
  <ion-content class="padding">
    <div ng-repeat = "x in data" ng-init = 'getImage(x.team_img_url)' class = 'col-md-3'>
      <div >
    <!-- <center><img ng-src={{imageCache[$index]}} id= {{(x.team_img_url)}} name = 'getImage(x.team_img_url)' height="100" width="150"imageonload/></center> -->
    <!-- <img ng-src = '{{imageUrl}}'> -->
    <a ui-sref="teamplayer({teamname:x.team_name})">
    <!-- <center><img ng-src=x.team_img_url id= {{(x.team_img_url)}} name = 'getImage(x.team_img_url)' height="100" width="150"imageonload/></center> -->
    <center><img ng-src=x.team_img_url id= {{(x.team_img_url)}} name = 'images[x.team_img_url]' height="100" width="150"imageonload/></center>
    <!-- <img ng-src=x.team_img_url name = 'images[x.team_img_url]' height="100" width="150"imageonload/> -->
    </div>
    <center>{{x.team_name}}</center>
    </a>
    </ion-content>
</ion-view>
